<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
  {% include "header.njk" %}
  {% block content %}{% endblock %}
  {% include "footer.njk" %}
</body>
</html>
