<footer class="footer">
  <div class="footer__content">
    <p>&copy; 2026 Bul Getir – Tüm hakları saklıdır.</p>
    <p>
      ✉️ <a href="mailto:bulvegetir@gmail.com">bulvegetir@gmail.com</a> |
      🌐 <a href="https://www.findbring.com" target="_blank">findbring.com</a>
    </p>
    <ul class="footer__social">
      <li><a href="https://www.facebook.com/profile.php?id=61586852423277" target="_blank">Facebook</a></li>
      <li><a href="https://x.com/BGetir24397" target="_blank">X (Twitter)</a></li>
      <li><a href="https://www.instagram.com/bulvegetir/" target="_blank">Instagram</a></li>
      <li><a href="https://www.linkedin.com/in/bul-getir-9107753a6/" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</footer>
