/* version: 0.1.1 – 2026-02-04 */
$font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$color-primary: #0066ff;
$color-secondary: #ff6600;
$color-bg: #fafafa;
$color-text: #222222;
// Scss Document

