---
title: "Sipariş Teşekkür"
pageClass: "thankyou-page"
layout: default
permalink: "/test/"      # kısayol: http://127.0.0.1:8080/test/
---
{% block content %}
  <h1>Teşekkürler!</h1>
  <p>Ödeme işleminiz başarıyla tamamlandı. Size bir onay e‑postası gönderildi.</p>
  <a href="/" class="button primary">Ana Sayfaya Dön</a>
{% endblock %}
