---
title: "Sipariş Teşekkür"
pageClass: "thankyou-page"
---
{% extends "../_includes/layout.njk" %}
{% block content %}
  <h1>Teşekkürler!</h1>
  <p>Ödeme işleminiz başarıyla tamamlandı. Size bir onay e‑postası gönderildi.</p>
  <a href="/" class="button primary">Ana Sayfaya Dön</a>
{% endblock %}
