---
title: "Teşekkür"
pageClass: "thankyou-page"
layout: layout                 # ← Eleventy, src/_includes/layout.njk dosyasını kullanır
---
{% block content %}
  <h1>Teşekkürler!</h1>
  <p>Siparişiniz başarıyla tamamlandı. Size bir onay e‑postası gönderildi.</p>

  <a href="/" class="button primary">Ana Sayfaya Dön</a>
{% endblock %}
